In [ ]:
print("Cats")

Cats

In [ ]:
a=10
b=5
print(a+b)

15

In [ ]:
a="Cats"
b="are cute"
print(a+' '+b)

Cats are cute

In [2]:
print(str(9)+" cats live here")

9 cats live here

In [4]:
a = 45
if(a>0):
  print("a is positive")
elif(a==0):
  print("a is zero")
else:
  print("a is negative")

a is positive

In [5]:
a=33
if(a%2==0):
  print("a is even")
else:
  print("a is odd")

a is odd

In [17]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [18]:
i=1
while(i<=10):
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

In [19]:
i=1
sm=0
while(i<=100):
  sm+=i
  i+=1
print(sm)

5050

In [6]:
a=[1,2,3,4,5]
print(min(a))
print(max(a))

1
5

In [7]:
a={1:"one",2:"two",3:"three"}
print(a[1])

one

In [11]:
a=[56,34,2,1,78,89,62]
asc=sorted(a)
print(asc)
desc=sorted(a,reverse=True)
print(desc)

[1, 2, 34, 56, 62, 78, 89]
[89, 78, 62, 56, 34, 2, 1]

In [13]:
a={1:"one",2:"two",3:"three"}
b={4:"four",5:"five"}
c=a.copy()
c.update(b)
print(c)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [23]:
a="HII cute kitties"
vsm=0
vowels = "AEIOUaeiou"
for i in a:
  if i in vowels:
    vsm+=1
print(vsm)

7

In [24]:
a="ISHIIITAA"
rev=a[::-1]
print(rev)

AATIIIHSI

In [27]:
a="racecar"
rev=a[::-1]
if(a==rev):
  print("Palindrome")
else:
  print("Not Palindrome")

Palindrome

In [33]:
fname = "hii.txt"
f=open(fname, "w")
f.write("Hi, how are you??")
f.close()
f = open(fname, "r")
print(f.read())

Hi, how are you??

In [34]:
fname="hii.txt"
f=open(fname,"a")
f.write("\nnamaste! aap kaise ho??")
f.close()
f=open(fname,"r")
print(f.read())

Hi, how are you??
namaste! aap kaise ho??

In [36]:
fname="hii.txt"
lc=0
f=open(fname,"r")
for line in f:
  lc+=1
print(lc)

2

In [2]:
try:
  num=int(input("Enter a numerator: "))
  den=int(input("Enter a denominator: "))
  x=int(num)/int(den)
  print(x)
except ZeroDivisionError:
  print("Error: Can't divide by zero")

Enter a numerator: 5
Enter a denominator: 2
2.5

In [6]:
try:
  num=int(input("Enter a number: "))
  print("You have entered: ",num)
except ValueError:
  print("Error: Invalid input! Enter a valid number")

Enter a number: f
Error: Invalid input! Enter a valid number

In [1]:
try:
  num=int(input("Enter a numerator: "))
  den=int(input("Enter a denominator: "))
  x=int(num)/int(den)
  print(x)
except ZeroDivisionError:
  print("Error: Can't divide by zero")
except ValueError:
  print("Error: Invalid input! Enter a valid number")
finally:
  print("Execution completed successfully!")

Enter a numerator: 3
Enter a denominator: 2
1.5
Execution completed successfully!

In [2]:
import random
for i in range(5):
  print(random.randint(1,100))

75
54
3
24
84

In [26]:
import random
num=random.randint(1,100)
is_prime=False
if(num>=1):
  is_prime=True
  for i in range(2,int(num/2)):
    if(num%i==0):
      is_prime=False
      break
if(is_prime):
  print(num," : Prime number")
else:
  print(num," : Not a prime number")

57  : Not a prime number

In [5]:
import random
num=random.randint(1,6)
print("You rolled die ",num)

You rolled die  6

In [7]:
import random
num=[1,2,3,4,5,6,7,8,9,10]
random.shuffle(num)
print(num)

[6, 3, 9, 1, 8, 10, 5, 2, 4, 7]

In [16]:
import random
lst=["cats","dogs","koalas","rabbits","llamas","pandas","penguins"]
ch=random.choice(lst)
print(ch)

dogs

In [28]:
import random
import string
len=int(input("Enter length of password: "))
password="".join(random.sample(string.ascii_letters + string.digits + string.punctuation,len))
print("Password: ",password)

Enter length of password: 10
Password:  5;hzt+P3r)

In [30]:
import random
suits=["hearts","diamonds","clubs","spades"]
ranks=["ace","2","3","4","5","6","7","8","9","10","jack","queen","king"]
rs=random.choice(suits)
rr=random.choice(ranks)
print("Card: ",rr," of ",rs)

Card:  5  of  diamonds

In [1]:
import sys
sys.argv=['sum','3','7']
num1=int(sys.argv[1])
num2=int(sys.argv[2])
print(num1+num2)

10

In [2]:
import sys
import string
str=sys.argv[1]
print(len(str))

1

In [34]:
import math
num=int(input("Enter a number: "))
if(num<0):
  print("Error: Enter a positive number")
else:
  print("Square root: ",math.sqrt(num))

Enter a number: -77
Error: Enter a positive number

In [35]:
from datetime import datetime
now=datetime.now()
print(now)

2025-01-12 21:53:57.915294

In [40]:
import os
files=os.listdir()
for file in files:
  print(file )

.config
sample_data