In [ ]:
L= [10, 20, 30, 40, 50, 60, 70, 80]
L.append(200)
print(L)
L.append(300)
print(L)
L.remove(10)
print(L)
L.remove(30)
print(L)
L.sort()
print(L)
L.sort(reverse=True)
print(L)

[10, 20, 30, 40, 50, 60, 70, 80, 200]
[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

In [ ]:
T=(45, 89.5, 76, 45.4, 89, 92, 58, 45)
print("Max score is",max(T))
print("Index of max score is",T.index(max(T)))
print("Min score is",min(T))
sm=0
m=min(T)
for i in T:
  if i==m:
    sm=sm+1
print("Minimum score appears",sm,"times")
rev=list(reversed(T))
print("Reversed list is",rev)
num=int(input("Enter a number:"))
if(num in T):
  print("Present at index:",T.index(num))
else:
  print("Not present")

Max score is 92
Index of max score is 5
Min score is 45
Minimum score appears 2 times
Reversed list is [45, 58, 92, 89, 45.4, 76, 89.5, 45]
Enter a number:100
Not present

In [5]:
import random
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True
rl=[]
for i in range(100):
  rl.append(random.randint(100,900))
ect=0
oct=0
pct=0
for x in rl:
  if (x%2==0):
    ect=ect+1
  else:
    oct=oct+1
  if (is_prime(x)):
    pct=pct+1
print("Total even numbers:",ect)
print("Total odd numbers:",oct)
print("Total prime numbers:",pct)

Total even numbers: 49
Total odd numbers: 51
Total prime numbers: 12

In [7]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
us=A.union(B)
print("Union of A and B:",us)
cs=A.intersection(B)
print("Intersection of A and B:",cs)
es=A.symmetric_difference(B)
print("Scores exclusive to each team:",es)
isset=A.issubset(B)
print("Is A a subset of B?:",isset)
issset=B.issuperset(A)
print("Is B a superset of A?:",issset)
x=int(input("Enter the score to be removed from A:"))
if x in A:
  A.remove(x)
  print(x,"- Score removed")
else:
  print("Score not present in A")

Union of A and B: {34, 45, 78, 23, 56, 90}
Intersection of A and B: {90, 78}
Scores exclusive to each team: {34, 45, 23, 56}
Is A a subset of B?: False
Is B a superset of A?: False
Enter the score to be removed from A:77
Score not present in A

In [9]:
sampledict={
    "name":"Kelly",
    "age":25,
    "salary":8000,
    "city":"New York"
}
sampledict["location"]=sampledict.pop('city')
print(sampledict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}